@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0 ;
}

.blog-details .meta-info {
  box-sizing: border-box;
  color: #a4a9b3;
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin-bottom: 1.6rem;
}


.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Style for the comment section */
.comment-section {
  margin-top: 500px !important; /* Adjust the margin-top as per your requirement */
}

.comment-section h3 {
  color: #333;
}

/* Style for the comment input field */
.comment-input-container {
  margin-top: 10px;
}

.comment-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.comment-input::placeholder {
  color: #aaa;
}

.comment-submit {
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #2980b9;
}

/* Style for the comments */
.comment {
  margin-top: 20px;
  color: #555;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*Login page*/

.login,.register {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h2, .register h2 {
  text-align: center;
  color: #333;
}

.login form, .register form {
  display: flex;
  flex-direction: column;
}

.login label, .register label {
  margin-bottom: 8px;
  color: #555;
}

.login input, .register input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login button, .register button {
  padding: 12px;
  background-color: #f1356d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover, .register button:hover {
  background-color: #45a049;
}

.login .error-message, .register .error-message {
  color: red;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0.9rem;
}


.login {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  padding: 20px; /* Add some padding around the container */
}


.signIn {
  flex: 1; /* Allow signIn to take up available space */
  padding-right: 10%; /* Add some space between signIn and signUp */
}

.login .signIn .options{
  font-size: smaller;
  padding-bottom: 5%;
}

.login .signIn .resetpassword{
  float: right;
}

.login .signIn .resetpassword a{
  color: blue;
  text-decoration: none;
}

.login .signIn .resetpassword a:hover{
  text-decoration: underline;
}

.login .signIn .remember{
  float:  left;
}


.signUp {
  flex: 1; /* Allow signUp to take up available space */
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin: auto;
  background-color: beige;
  padding-block-end: 5%;
  padding-top: 5%;
}

.signUp button {
  margin-top: 50%;
  border-radius: 15%; /* Use 50% for round shape */
  cursor: pointer;
  background-color: orange;
}

